.ui.action.input {
  display: flex;
}

.ui.centered.cards {
  margin-top: 2em;
}

.ui.icon.center.aligned.header {
  margin-top: 1em;
}

.nominations .ui.segment {
  margin-top: 0;
  padding: 0.6em 1em 0.6em 1em;
}

.nominations .ui.segment.hidden {
  visibility: hidden;
}
